In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [49]:
sn_df = purchase_data["SN"]

total_players = sn_df.nunique()
print("Total Players: " + str(total_players))

Total Players: 576

In [2]:
unique_items = purchase_data["Item Name"]
total_unique = unique_items.nunique()
print("Number of Unique Items: " + str(total_unique))

Number of Unique Items: 179

In [3]:
avprice = purchase_data["Price"].mean()
print("Average Price: " + str(avprice))

Average Price: 3.050987179487176

In [4]:
purchaseid = purchase_data["Purchase ID"]
prch = purchaseid.nunique()
print("Number of Purchases: " + str(prch))

Number of Purchases: 780

In [5]:
total = purchase_data["Price"].sum()
print("Total Revenue: $" + str(total))

Total Revenue: $2379.77

In [6]:
gender_purchase = purchase_data.drop_duplicates(subset='SN', keep="first")

In [10]:
gender = gender_purchase["Gender"]
gender
other = 0
malecount = 0
femalecount = 0
for row in gender:
    if row == 'Male':
        malecount = malecount + 1
    if row == 'Female':
        femalecount = femalecount + 1
    if row == "Other / Non-Disclosed":
        other = other+1
total = malecount + femalecount  + other        
print("Male Total Count: " + str(malecount))
print("Male Percentage: " + str(((malecount/total)*100)) + "%")
print("Female Total Count: " + str(femalecount))
print("Female Percentage: " + str(((femalecount/total)*100)) + "%")
print("Other/Non-Disclosed Total Count: " + str(other))
print("Other/Non-Disclosed Percentage: " + str(((other/total)*100)) + "%")

Male Total Count: 484
Male Percentage: 84.02777777777779%
Female Total Count: 81
Female Percentage: 14.0625%
Other/Non-Disclosed Total Count: 11
Other/Non-Disclosed Percentage: 1.9097222222222223%

In [37]:
gender_group = purchase_data.groupby(["Gender"])
avgprice = gender_group.Price.mean()

In [38]:
purchcount = gender_group.SN.count()

In [39]:
totval = gender_group.Price.sum()

In [40]:
gender_group2 = gender_purchase.groupby(["Gender"])
purchcount2 = gender_group2.SN.count()

In [41]:
avgtot = totval/purchcount2

In [42]:
gender_summary = pd.DataFrame({"Purchase Count": purchcount,
                               "Average Purchase Price": avgprice,
                               "Total Purchase Value": totval,
                               "Avg Total Purchase per Person": avgtot})
gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [44]:
# Create bins in which to place values
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [45]:
# Slice the data and place it into bins
pd.cut(gender_purchase["Age"], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [46]:
# Place the data series into a new column inside of the DataFrame
gender_purchase["Age Group"] = pd.cut(gender_purchase["Age"], bins, labels=group_labels)
gender_purchase.head()

/Users/carlhmackensen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [52]:
# Create a GroupBy object based upon "View Group"
purch_group = gender_purchase.groupby("Age Group")

# Find how many rows fall into each bin
purch_group_age = purch_group["Age"].count()
purch_group_age

#NEED TO FINISH

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

In [55]:
purch_group_percentage = purch_group_age/total_players
purch_group_percentage

Age Group
<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: Age, dtype: float64

In [59]:
binned_age_summary = pd.DataFrame({"Total Count": purch_group_age,
                               "Percentage of Players": purch_group_percentage*100})
binned_age_summary

           Total Count  Percentage of Players
Age Group
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

In [60]:
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [61]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [62]:
aged_group = purchase_data.groupby(["Age Group"])
aged_avgprice = aged_group.Price.mean()
aged_avgprice

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [63]:
aged_purchcount = aged_group.SN.count()
aged_purchcount

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [64]:
aged_totval = aged_group.Price.sum()
aged_totval

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [66]:
avg_tot_purch = aged_totval/purch_group_age
avg_tot_purch

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [67]:
purch_analy_age = pd.DataFrame({"Purchase Count": aged_purchcount,
                               "Average Purchase Price": aged_avgprice,
                               "Total Purchase Value": aged_totval,
                               "Avg Total Purchase per Person": avg_tot_purch})
purch_analy_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [32]:
count2 = purchase_data["SN"].value_counts()
count2

Lisosia93      5
Iral74         4
Idastidru52    4
Zontibe81      3
Yathecal82     3
              ..
Aidaira26      1
Iduenu77       1
Qilanrion65    1
Idacal95       1
Palatyon26     1
Name: SN, Length: 576, dtype: int64

In [46]:
summarydf = count2
summarydf['Total Purchase Value'] = purchase_data.groupby(["SN"]).sum()["Price"]
summarydf

Lisosia93                                                               5
Iral74                                                                  4
Idastidru52                                                             4
Zontibe81                                                               3
Yathecal82                                                              3
                                              ...
Iduenu77                                                                1
Qilanrion65                                                             1
Idacal95                                                                1
Palatyon26                                                              1
Total Purchase Value    SN
Adairialis76     2.28
Adastirin33      4.48...
Name: SN, Length: 577, dtype: object

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [41]:
pop_purchase_data = purchase_data["Item ID", "Item Name", "Price"]
pop_purchase_data

KeyError: ('Item ID', 'Item Name', 'Price')

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80